# ignoring the virtual environment
cn-reader

# ignoring vscode settings
.vscode

# ignoring the README.md for now
README.md

# ignoring files
files

# ignoring pycache
__pycache__

# ignoring the trades sheet
trades.xlsx