# ignoring the virtual environment
cn-reader

# ignoring vscode settings
.vscode

# ignoring the README.md for now
README.md

# ignoring files
files
copy
errors

# ignoring pycache
__pycache__

# ignoring the trades sheet
trades.xlsx

client_secret.json
gmail_token.json
constants.py